@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,700&display=swap');
body{
    font-family: 'Genos', sans-serif;
}
.imagen{
    height: 300px;
    width: 1000px; 
}
.card{
    text-align: center;
     width: 90%;   
}
.imagen2{
    height: 100px;
    width: 100px;
}
.footer{
    text-align: center;
}

